apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: keda
  namespace: {{ .Values.argocd.namespace }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: {{ .Values.repo.url }}
    path: k8s/argocd-deploy/keda
    targetRevision: HEAD

  destination:
    server: https://kubernetes.default.svc
    namespace: keda

  syncPolicy:
    automated:
      selfHeal: true
      prune: true
