traefik-ingress:
  dnsNames:
    - dns: nextcloud.rannet.duckdns.org
      services:
        - kind: Service
          name: nextcloud
          port: http

vault-auth:
  vaultConnectionName: vault-secrets-operator/default
  authMethods:
    - name: on-prem
      # match this up with secret
      vaultAuthName: nextcloud-vso-connection-auth
      method: kubernetes
      mount: in-cluster
      config:
        role: nextcloud
        serviceAccount: nextcloud
        audiences:
          - vault

cnpg:
  image: ghcr.io/tensorchord/cloudnative-vectorchord:16-0.4.2
  instances: 2

nextcloud:
  # postgres things
  internalDatabase:
    enabled: false
  externalDatabase:
    enabled: true
    type: postgresql
    host: nextcloud-db-rw:5432
    database: nextcloud
    existingSecret:
      enabled: true
      secretName: nextcloud-db-superuser
      usernameKey: username
      passwordKey: password

  # redis --> valkey
  redis:
    enabled: false
  externalRedis:
    enabled: true
    host: nextcloud-valkey
