traefik:
  hostNetwork: true
  progressDeadlineSeconds: 360
  minReadySeconds: 30
  nodeSelector:
    kubernetes.io/hostname: px-talos-worker-gpu-101
  priorityClassName: system-node-critical

  deployment:
    replicas: 1

  service:
    type: ClusterIP

  ports:
    # k port-forward -n traefik pods/traefik-whatever 8080:8000
    # http://localhost:8080/dashboard/
    traefik:
      expose:
        default: false
    websecure:
      port: 443
      hostPort: 8443
      containerPort: 8443
      tls:
        certResolver: duckdns-letsencrypt-prod
        domains:
          - main: "rannet.duckdns.org"
            sans:
              - traefik.rannet.duckdns.org
          - main: "rannet01.duckdns.org"
            sans:
              - traefik.rannet01.duckdns.org
          # - "*.rannet.duckdns.org"
          # - "*.rannet01.duckdns.org"

  providers:
    kubernetesCRD:
      ingressClass: "traefik"
    kubernetesGateway:
      enabled: true

  gateway:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: duckdns-letsencrypt-prod
    listeners:
      web:
        namespacePolicy:
          from: All
      websecure:
        port: 443
        namespacePolicy:
          from: All

  # TODO: hook into authentik
  # https://github.com/traefik/traefik-helm-chart/blob/master/EXAMPLES.md#publish-and-protect-traefik-dashboard-with-basic-auth
  ingressRoute:
    dashboard:
      # annotations:
      #   cert-manager.io/cluster-issuer: duckdns-letsencrypt-prod
      # tls:
      #   secretName: traefik-dashboard-cert
      enabled: true
      matchRule: (Host(`localhost`) || HostRegexp(`.+\.rannet\.duckdns\.org`) || HostRegexp(`.+\.rannet01\.duckdns\.org`)) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      entryPoints:
        - web
