traefik:
  extraArgs:
    - --enable-gateway-api
    - --experimental.kubernetesIngressNGINX
    - --providers.kubernetesIngressNGINX

  # TODO: hook into authentik
  # https://github.com/traefik/traefik-helm-chart/blob/master/EXAMPLES.md#publish-and-protect-traefik-dashboard-with-basic-auth
  ingressRoute:
    dashboard:
      enabled: true

  # https://github.com/traefik/traefik-helm-chart/blob/master/EXAMPLES.md#install-with-argo-rollouts
  deployment:
    replicas: 2
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 4
    metrics:
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 90
      - type: Resource
        resource:
          name: memory
          target:
            type: Utilization
            averageUtilization: 90
