traefik:
  providers:
    kubernetesGateway:
      enabled: true

  # hostNetwork: true
  progressDeadlineSeconds: 360
  minReadySeconds: 30
  nodeSelector:
    kubernetes.io/hostname: rpi-storage-cluster-01
  priorityClassName: system-node-critical

  deployment:
    replicas: 1

  service:
    type: ClusterIP

  ports:
    # k port-forward -n traefik pods/traefik-whatever 8080:8000
    # http://localhost:8080/dashboard/
    websecure:
      port: 443
      containerPort: 443
      tls:
        certResolver: duckdns-letsencrypt-prod
        domains:
          - main: "rannet.duckdns.org"
            sans:
              - traefik.rannet.duckdns.org
          - main: "rannet01.duckdns.org"
            sans:
              - traefik.rannet01.duckdns.org

  # https://gateway-api.sigs.k8s.io/api-types/httproute/
  gateway:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: duckdns-letsencrypt-prod
    listeners:
      websecure:
        port: 443
        protocol: HTTPS
        # https://gateway-api.sigs.k8s.io/reference/spec/#secretobjectreference
        certificateRefs:
          - name: traefik-dashboard-cert
            type: Secret
        namespacePolicy:
          from: All

  # TODO: hook into authentik
  # https://github.com/traefik/traefik-helm-chart/blob/master/EXAMPLES.md#publish-and-protect-traefik-dashboard-with-basic-auth
  ingressRoute:
    dashboard:
      enabled: true
      matchRule: (Host(`localhost`) || HostRegexp(`.+\.rannet\.duckdns\.org`) || HostRegexp(`.+\.rannet01\.duckdns\.org`)) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      entryPoints:
        - web
