traefik:
  api:
    dashboard: true
  providers:
    kubernetesGateway:
      enabled: true

  certificatesResolvers:
    duckdns-letsencrypt-prod:
      acme:
        email: "heilong24@gmail.com"
        caServer: https://acme-v02.api.letsencrypt.org/directory
        dnsChallenge:
          provider: duckdns
        storage: /data/acme.json
    # duckdns-letsencrypt-prod:
    #   email: "heilong24@gmail.com"
    #   entryPoint: "websecure"
    #   storage: "acme.json"

  # DEADGE
  hostNetwork: true
  progressDeadlineSeconds: 360
  minReadySeconds: 30
  nodeSelector:
    kubernetes.io/hostname: rpi-storage-cluster-01
  priorityClassName: system-node-critical
  securityContext:
    readOnlyRootFilesystem: true
    runAsGroup: 0
    runAsNonRoot: false
    runAsUser: 0
    capabilities:
      add:
        - "NET_BIND_SERVICE"
      drop:
        - "ALL"

  # here to get the damn thing to sync
  service:
    type: NodePort

  # k port-forward -n traefik pods/traefik-whatever 8080:8000
  # http://localhost:8080/dashboard/
  deployment:
    replicas: 1
  updateStrategy:
    type: Recreate
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 1

  ports:
    traefik:
      port: 8080
      containerPort: 8080
      protocol: TCP

    web:
      port: 80
      containerPort: 8000
      protocol: TCP
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

    websecure:
      port: 443
      containerPort: 8443
      tls:
        # certResolver: duckdns-letsencrypt-prod
        domains:
          - main: "rannet.duckdns.org"
            sans:
              - traefik.rannet.duckdns.org
          - main: "rannet01.duckdns.org"
            sans:
              - traefik.rannet01.duckdns.org

  # https://gateway-api.sigs.k8s.io/api-types/httproute/
  gateway:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: duckdns-letsencrypt-prod
    listeners:
      web:
        port: 80
        protocol: HTTP
        namespacePolicy:
          from: All

      websecure:
        port: 443
        protocol: HTTPS
        mode: Terminate
        # https://gateway-api.sigs.k8s.io/reference/spec/#secretobjectreference
        certificateRefs:
          - name: traefik-dashboard-cert
            group: ''
        namespacePolicy:
          from: All

  # TODO: hook into authentik
  # https://github.com/traefik/traefik-helm-chart/blob/master/EXAMPLES.md#publish-and-protect-traefik-dashboard-with-basic-auth
  ingressRoute:
    dashboard:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: duckdns-letsencrypt-prod
      entryPoints:
        - websecure
        - web
      tls:
        secretName: traefik-dashboard-cert
        domains:
          - main: "rannet.duckdns.org"
            sans:
              - traefik.rannet.duckdns.org
          - main: "rannet01.duckdns.org"
            sans:
              - traefik.rannet01.duckdns.org
