traefik:
  hostNetwork: true
  progressDeadlineSeconds: 360
  minReadySeconds: 30
  nodeSelector:
    kubernetes.io/hostname: nyx
  priorityClassName: system-node-critical

  deployment:
    replicas: 1

  service:
    type: ClusterIP
    # loadBalancerIP: 192.168.86.33
    # clusterIP: 192.168.86.33

  ports:
    traefik:
      expose:
        default: true

  providers:
    kubernetesCRD:
      ingressClass: "traefik"
    kubernetesGateway:
      enabled: true

  gateway:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: duckdns-letsencrypt-prod
    listeners:
      web:
        namespacePolicy:
          from: All

  # TODO: hook into authentik
  # https://github.com/traefik/traefik-helm-chart/blob/master/EXAMPLES.md#publish-and-protect-traefik-dashboard-with-basic-auth
  ingressRoute:
    dashboard:
      enabled: true
      matchRule: (Host(`localhost`) || Host(`*.rannet.duckdns.org`)) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      entryPoints:
        - web
