traefik:
  providers:
    kubernetesGateway:
      enabled: true

  hostNetwork: true
  progressDeadlineSeconds: 360
  minReadySeconds: 30
  nodeSelector:
    kubernetes.io/hostname: rpi-storage-cluster-01
  priorityClassName: system-node-critical

  service:
    type: NodePort

  securityContext:
    readOnlyRootFilesystem: true
    runAsGroup: 0
    runAsNonRoot: false
    runAsUser: 0
    capabilities:
      add:
      - "NET_BIND_SERVICE"
      drop:
      - "ALL"

  # k port-forward -n traefik pods/traefik-whatever 8080:8000
  # http://localhost:8080/dashboard/
  deployment:
    replicas: 1
  updateStrategy:
    type: Recreate
  autoscaling:
    enabled:
    minReplicas: 1
    maxReplicas: 1

  ports:
    traefik:
      port: 8080
      containerPort: 8080
      protocol: TCP

    web:
      port: 80
      containerPort: 8000
      protocol: TCP
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

    websecure:
      port: 443
      containerPort: 8443
      tls:
        # certResolver: duckdns-letsencrypt-prod
        domains:
          - main: "rannet.duckdns.org"
            sans:
              - traefik.rannet.duckdns.org
          - main: "rannet01.duckdns.org"
            sans:
              - traefik.rannet01.duckdns.org

  # https://gateway-api.sigs.k8s.io/api-types/httproute/
  gateway:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: duckdns-letsencrypt-prod
    listeners:
      traefik:
        port: 8080
        protocol: HTTP
        namespacePolicy:
          from: All

      web:
        port: 80
        protocol: HTTP
        namespacePolicy:
          from: All

      websecure:
        port: 443
        protocol: HTTPS
        # https://gateway-api.sigs.k8s.io/reference/spec/#secretobjectreference
        mode: Terminate
        certificateRefs:
          - name: traefik-dashboard-cert
            group: ''
        namespacePolicy:
          from: All

  # TODO: hook into authentik
  # https://github.com/traefik/traefik-helm-chart/blob/master/EXAMPLES.md#publish-and-protect-traefik-dashboard-with-basic-auth
  ingressRoute:
    dashboard:
      enabled: true
      matchRule: (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      entryPoints:
        - websecure
        - web
      services:
        - name: traefik
          port: websecure
