keda-global-cron:
  objects:
    - name: paperless-ngx
    - name: paperless-ngx-valkey
      cooldownPeriod: 420

traefik-ingress:
  dnsNames:
    - dns: paperless-ngx.rannet.duckdns.org
      services:
        - kind: Service
          name: paperless-ngx
          port: http

cnpg:
  image: ghcr.io/tensorchord/cloudnative-vectorchord:17-0.4.3
  instances: 2


vault-auth:
  vaultConnectionName: vault-secrets-operator/default
  authMethods:
    - name: on-prem
      # match this up with secret
      vaultAuthName: paperless-ngx-vso-connection-auth
      method: kubernetes
      mount: in-cluster
      config:
        role: paperless-ngx
        serviceAccount: paperless-ngx-sa
        audiences:
          - vault


paperless-ngx:
  image:
    repository: ghcr.io/paperless-ngx/paperless-ngx
    tag: 2.20.0

  serviceAccount:
    create: true
    name: paperless-ngx-sa

  serviceAccountName: paperless-ngx-sa
  env:
    # temporary - creds are changed after initial setup
    PAPERLESS_ADMIN_USER: admin
    PAPERLESS_ADMIN_PASSWORD: admin

    # OIDC
    #   https://integrations.goauthentik.io/documentation/paperless-ngx/
    #
    # when configurating the social account provider config in the secret
    # below, omit "openid_connect.APPS[].settings.claims"
    PAPERLESS_SOCIALACCOUNT_PROVIDERS:
      valueFrom:
        secretKeyRef:
          name: paperless-ngx-env-secrets
          key: PAPERLESS_SOCIALACCOUNT_PROVIDERS
    PAPERLESS_LOGOUT_REDIRECT_URL: "https://authentik.rannet.duckdns.org/application/o/paperless-ngx/end-session/"
    PAPERLESS_APPS: "allauth.socialaccount.providers.openid_connect"

    TZ: UTC
    PAPERLESS_DBENGINE: postgresql
    PAPERLESS_DBHOST: paperless-ngx-rw
    PAPERLESS_DBNAME: paperless_ngx
    PAPERLESS_DBUSER:
      valueFrom:
        secretKeyRef:
          name: paperless-ngx-superuser
          key: username 
    PAPERLESS_DBPASS:
      valueFrom:
       secretKeyRef:
         name: paperless-ngx-superuser
         key: password

    # IMPORTANT: overriding to allow for one single big mount
    # TODO: probably a bad idea? iunno
    PAPERLESS_CONSUMPTION_DIR: /etc/paperless/consume
    PAPERLESS_DATA_DIR: /etc/paperless/data
    PAPERLESS_MEDIA_ROOT: /etc/paperless/media
    # this....doesnt work? or isnt auto-created the same way as the ones above
    # PAPERLESS_EMPTY_TRASH_DIR: /etc/paperless/trash

    # svc automatically pulled in from valkey chart
    PAPERLESS_REDIS: redis://paperless-ngx-valkey

    # omfg
    PAPERLESS_CSRF_TRUSTED_ORIGINS: https://paperless-ngx.rannet.duckdns.org
    PAPERLESS_URL: https://paperless-ngx.rannet.duckdns.org

  ingress:
    main:
      enabled: false

  persistence:
    paperless:
      enabled: true
      retain: true
      mountPath: /etc/paperless/
      storageClass: smb
      accessMode: ReadWriteOnce
      size: 256Gi
    # enabling this separately, cannot be configured
    export:
      enabled: true
      retain: true
      mountPath: /usr/src/paperless/export
      storageClass: smb
      accessMode: ReadWriteOnce
      size: 4Gi
    # disabling all of these in favor of above
    # also - export and consume are enabled by default
    data:
      enabled: false
      retain: true
      mountPath: /usr/src/paperless/data
    media:
      enabled: false
      retain: true
      mountPath: /usr/src/paperless/media
    consume:
      enabled: false
      retain: true
      mountPath: /usr/src/paperless/consume

  # using cnpg instead of this
  postgresql:
    enabled: false

  redis:
    # death to bitnami
    enabled: false
    auth:
      enabled: true
      username: ""
      password: "dontfreakoutyoupos"
    master:
      persistence:
        enabled: false
        size: 1Gi
    replica:
      replicaCount: 2
      persistence:
        size: 512Mi
