# Im a hack and a complete disgrace
ingress-nginx:
  controller:
    hostNetwork: true

    progressDeadlineSeconds: 360
    minReadySeconds: 30

    # nodeSelector:
    #   kubernetes.io/hostname: nyx

    priorityClassName: system-node-critical

    updateStrategy:
      type: Recreate
    resources:
      requests:
        cpu: 2
        memory: 5Gi
