---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: nextcloud-db
  namespace: nextcloud
spec:
  imageName: {{ .Values.cnpg.image }}
  instances: {{ .Values.cnpg.instances }}

  enableSuperuserAccess: true

  managed:
    roles:
      - name: nextcloud
        superuser: true
        login: true
        passwordSecret:
          name: nextcloud-postgres-user

  bootstrap:
    initdb:
      database: nextcloud
      owner: nextcloud
      secret:
        name: nextcloud-postgres-user
  storage:
    size: 2Gi
    storageClass: longhorn
