vault-auth:
  vaultConnectionName: vault-secrets-operator/default
  authMethods:
    - name: on-prem
      # match this up with secret
      vaultAuthName: distribution-vso-connection-auth
      method: kubernetes
      mount: in-cluster
      config:
        role: registries
        serviceAccount: registries-svc-acc
        audiences:
          - vault


traefik-ingress:
  dnsNames:
    - dns: registry.rannet.duckdns.org
      services:
        - kind: Service
          name: distribution-docker-registry
          port: http-5000

docker-registry:
  extraEnvVars:
    - name: OTEL_TRACES_EXPORTER
      value: none

  proxy:
    # remoteurl: https://ghcr.io
    enabled: true
    # secretRef: ghcr-creds

  updateStrategy:
    type: Recreate

  persistence:
    accessMode: ReadWriteMany
    storageClass: smb
    enabled: true
    size: 32Gi

  garbageCollect:
    enabled: false
