traefik-ingress:
  dnsNames:
    - dns: registry.rannet.duckdns.org
      services:
        - kind: Service
          name: distribution-docker-registry
          port: http-5000

docker-registry:
  extraEnvVars:
    - name: OTEL_TRACES_EXPORTER
      value: none

  proxy:
    remoteurl: ghcr.io
    enabled: true

  updateStrategy:
    type: Recreate

  persistence:
    accessMode: ReadWriteMany
    storageClass: smb
    enabled: true
    size: 32Gi

  garbageCollect:
    enabled: true
