traefik-ingress:
  dnsNames:
    - dns: registry.rannet.duckdns.org
      services:
        - kind: Service
          name: distribution-docker-registry
          port: http-5000

docker-registry:
  proxy:
    enabled: true

  updateStrategy:
    type: Recreate

  persistence:
    accessMode: ReadWriteMany
    storageClass: longhorn
    enabled: true
    size: 16Gi

  garbageCollect:
    enabled: true
