traefik-ingress:
  dnsNames:
    - dns: registry.rannet.duckdns.org
      services:
        - kind: Service
          name: distribution-docker-registry
          port: http-5000

docker-registry:

  persistence:
    storageClass: longhorn
    enabled: true
    size: 16Gi

  garbageCollect:
    enabled: true
