vault-auth:
  vaultConnectionName: vault-secrets-operator/default
  authMethods:
    - name: on-prem
      # match this up with secret
      vaultAuthName: distribution-vso-connection-auth
      method: kubernetes
      mount: in-cluster
      config:
        role: registries
        serviceAccount: registries-svc-acc
        audiences:
          - vault


traefik-ingress:
  dnsNames:
    - dns: registry.rannet.duckdns.org
      services:
        - kind: Service
          name: distribution-docker-registry
          port: http-5000

docker-registry:
  extraEnvVars:
    - name: OTEL_TRACES_EXPORTER
      value: none

  proxy:
    # by default will use docker.io & lets us pull from docker.io and/or
    # quay.io images. swap to remoteurl & secretRef below to pull from ghcr
    # instead. AFTER pulling from GHCR and reverting BACK to docker.io/quay.io
    # the images pulled from ghcr will still be available
    #
    # this is awkwardly cobbled together because distribution itself does not
    # support multiple pull-throughs/proxies
    #
    # https://github.com/distribution/distribution/issues/3725
    enabled: true
    # remoteurl: https://ghcr.io
    # secretRef: ghcr-creds

  updateStrategy:
    type: Recreate

  persistence:
    accessMode: ReadWriteMany
    storageClass: smb
    enabled: true
    size: 32Gi

  garbageCollect:
    enabled: false
