export TALOSCONFIG=$(pwd)/talos/talosconfig
export TALOS_NODES=
export TALOS_CONTROL_NODES=
export TALOS_WORKER_NODES=

# required for SMB CSI
# e.g. usage: create user/password in OMV web UI, paste them here
export SMB_PASSWORD=REPLACEME
export SMB_USERNAME=REPLACEME
# make sure this dir actually exists
export SMB_HOST_SHARE=//myomvinstance.lan/my-share-name/dir-for-smb-csi-pvclaims

# required for longhorn backups
export CIFS_PASSWORD=$SMB_PASSWORD
export CIFS_USERNAME=$SMB_USERNAME
# then create a share in OMV web UI, put hostname in here
export CIFS_HOST_SHARE=cifs:${SMB_HOST_SHARE}/k8s-longhorn-sys

# oidc w/ github as the idp
# generate these here: https://github.com/settings/applications/new
export GITHUB_APP_ID=
export GITHUB_APP_SECRET=
# comman-delimited list of usernames
export GITHUB_ALLOWED_USERS=

export ARGOCD_REPO_SSH_URL=$(git remote -v | grep origin | grep fetch | awk '{ print $2 }')
export ARGOCD_REPO_URL=$(echo $ARGOCD_REPO_SSH_URL | sed 's/:/\//g' | sed 's/git\@/https\:\/\//g')
export ARGOCD_REPO_NAME=$(echo $ARGOCD_REPO_SSH_URL | cut -d: -f2 | sed 's/\//-/g')
export ARGOCD_GITHUB_USER=
export ARGOCD_GITHUB_TOKEN=

export DUCKDNS_TOKEN=
export CERT_MANAGER_ISSUER_EMAIL=
