traefik-ingress:
  dnsNames:
    - dns: longhorn.rannet.duckdns.org
      services:
        - kind: Service
          name: longhorn-frontend
          port: http

vault-auth:
  vaultConnectionName: vault-secrets-operator/default
  authMethods:
    - name: on-prem
      vaultAuthName: longhorn-vso-connection-auth
      method: kubernetes
      mount: in-cluster
      config:
        role: longhorn
        serviceAccount: longhorn-service-account
        audiences:
          - vault

# on INITIAL install - variables w/ REPLACE are set in helmfile.yaml, required
# to create secret
# https://github.com/longhorn/longhorn/blob/master/chart/templates/default-setting.yaml
longhorn:
  defaultSettings:
    # NOTE: replace with actual URL
    backupTarget: cifs://nas.lan/k8s.longhorn-system
    # literal name; TODO: allow for name override
    backupTargetCredentialSecret: cifs-backup-target-creds
    # https://longhorn.io/docs/1.6.2/deploy/important-notes/#pod-security-policies-disabled--pod-security-admission-introduction
  ingress:
    enabled: false
