traefik-ingress:
  dnsNames:
    - dns: prometheus.rannet.duckdns.org
      services:
        - kind: Service
          name: prometheus-server
          port: http

# NOTE: at some point I did a
#
#  kubectl label namespace monitoring pod-security.kubernetes.io/enforce=privileged
#
# not sure if possible in argocd land
prometheus:
  persistence:
    enabled: true
    storageClassName: longhorn
    # TODO: somehow find-or-create longhorn pvc?
    # existingClaim: prometheus-pvc
    accessModes:
      - ReadWriteMany

  prometheus-node-exporter:
    rbac:
      create: true

  rbac:
    create: true
    podSecurityPolicy:
      enabled: true

  server:
    # seems to be just about enough for the default 15 day retention window
    persistentVolume:
      size: 64Gi
    ingress:
      enabled: false
