traefik-ingress:
  dnsNames:
    - dns: wiki.rannet.duckdns.org
      services:
        - kind: Service
          name: kiwix-svc
          port: http

persistence:
  # auto-created via SMB
  volumeName: pvc-1780b073-7e94-40f9-b005-db27fbe6d912

deployment:
  image: ghcr.io/kiwix/kiwix-serve:3.8.1

  zimPaths:
    - /data/*.zim
    - /data/stackexchange/*.zim
  otherArgs:
    - --verbose

  # tweak these if you have too much/little data
  resources:
    cpu:
      limit: 8
      request: 2
    mem:
      limit: 8Gi
      request: 2Gi
  # livenessProbe:
  #   initialDelaySeconds: 180
  #   timeoutSeconds: 180
  #   periodSeconds: 60
  # readinessProbe:
  #   initialDelaySeconds: 180
  #   timeoutSeconds: 180
  #   periodSeconds: 60
