---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: homepage-pdb
  namespace: homepage
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: homepage
