{{ range .Values.widgetConfigs }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ .name }}-widget-secrets-vaultsecret-ref
  namespace: {{ $.Release.Namespace }}
spec:
  type: kv-v2
  mount: in-cluster
  path: {{ .path }}
  destination:
    name: {{ .name }}-widget-secrets
    create: true
    overwrite: true
  refreshAfter: 30s
  vaultAuthRef: {{ $.Release.Namespace -}}/homepage-vso-connection-auth
{{ end }}
