releases:
  - name: cert-manager
    namespace: cert-manager
    chart: ./helm/cert-manager
    createNamespace: true
    values:
      - helmfile/cert-manager.gotmpl
    hooks:
      - events:
          - prepare
        command: bash
        args:
          - -c
          - 'rm helm/cert-manager/Chart.lock || :'
      - events:
          - prepare
        command: bash
        args:
          - ./scripts/cert-manager-prep.sh


  - name: cert-manager-duckdns-hook
    namespace: cert-manager
    chart: ./helm/cert-manager-duckdns
    createNamespace: false
    values:
      - helmfile/cert-manager.gotmpl
    disableValidationOnInstall: true
    needs:
      - cert-manager
    hooks:
      - events:
          - prepare
        command: bash
        args:
          - -c
          - 'rm helm/cert-manager-duckdns/Chart.lock || :'

  - name: smb-csi
    namespace: kube-system
    chart: ./helm/smb-csi
    values:
      - helmfile/smb-csi.gotmpl
    hooks:
      # https://github.com/helm/helm/issues/8036
      - events:
          - prepare
        command: bash
        args:
          - -c
          - 'rm helm/smb-csi/Chart.lock || :'
      - events:
          - presync
        command: bash
        args:
          - -c
          - "kubectl delete StorageClass smb || echo 'no smb StorageClass found'"

  - name: longhorn
    namespace: longhorn-system
    chart: ./helm/longhorn
    disableValidationOnInstall: true
    values:
      - helmfile/longhorn-values.gotmpl
    # namespace has separate template for specific labels
    createNamespace: false
    hooks:
      - events:
          - presync
        command: bash
        args:
          - ./scripts/longhorn-prepare.sh

  # INITIAL SEED INSTALL - self manages after this point
  # assuming that vault is installed and configured properly
  - name: argocd
    namespace: argocd
    chart: ./helm/argocd
    values:
      - helmfile/argocd.gotmpl
    hooks:
      - events:
          - prepare
        command: bash
        args:
          - -c
          - ./scripts/argocd-prepare.sh
      - events:
          - cleanup
        command: bash
        args:
          - -c
          - ./scripts/argocd-complete.sh

  - name: twingate
    namespace: twingate
    chart: ./helm/twingate
    values:
      - helmfile/twingate.gotmpl
    hooks:
      - events:
          - prepare
        command: bash
        args:
          - -c
          - 'rm helm/twingate/Chart.lock || :'
