traefik-ingress:
  dnsNames:
    - dns: gitea.rannet.duckdns.org
      services:
        - kind: Service
          name: gitea-http
          port: http

vault-auth:
  vaultConnectionName: vault-secrets-operator/default
  authMethods:
    - name: on-prem
      # match this up with secret
      vaultAuthName: gitea-vso-connection-auth
      method: kubernetes
      mount: in-cluster
      config:
        role: gitea
        serviceAccount: gitea
        audiences:
          - vault

cnpg:
  image: ghcr.io/tensorchord/cloudnative-vectorchord:17-0.4.3
  size: 2Gi
  storageClass: longhorn
  roleName: gitea

gitea:
  image:
    tag: docker.gitea.com/gitea:1.25.2
  deployment:
    env:
      - name: GITEA__DOMAIN
        value: gitea.rannet.duckdns.org
      - name: GITEA__database__DB_TYPE
        value: postgres
      - name: GITEA__database__HOST
        value: gitea-rw:5432
      - name: GITEA__database__NAME
        value: gitea
      - name: GITEA__database__USER
        valueFrom:
          secretKeyRef:
            name: gitea-superuser
            key: username
      - name: GITEA__database__PASSWD
        valueFrom:
          secretKeyRef:
            name: gitea-superuser
            key: password

  persistence:
    enabled: true
    size: 16Gi
    storageClass: smb

  gitea:
    admin:
      existingSecret: gitea-superuser
      email: heilong24@gmail.com
    # TODO: use valkey included in official chart
    session:
      PROVIDER: memory
    cache:
      ADAPTER: memory
    queue:
      TYPE: level

  # disable for gitea chart, use my own
  valkey-cluster:
    enabled: false
  valkey:
    enabled: false
  postgres:
    enabled: false
  postgresql-ha:
    enabled: false
