traefik-ingress:
  dnsNames:
    - dns: gitea.rannet.duckdns.org
      services:
        - kind: Service
          name: gitea-http
          port: http

vault-auth:
  vaultConnectionName: vault-secrets-operator/default
  authMethods:
    - name: on-prem
      # match this up with secret
      vaultAuthName: gitea-vso-connection-auth
      method: kubernetes
      mount: in-cluster
      config:
        role: gitea
        # note: this is actually made by cnpg
        serviceAccount: gitea
        audiences:
          - vault

cnpg:
  image: ghcr.io/tensorchord/cloudnative-vectorchord:17-0.4.3
  size: 2Gi
  storageClass: longhorn
  roleName: gitea

gitea:
  image:
    fullOverride: registry.rannet.duckdns.org/gitea/gitea:1.25-rootless
  deployment:
    env:
      - name: GITEA__server__DOMAIN
        value: gitea.rannet.duckdns.org
      - name: GITEA__server__ROOT_URL
        value: https://gitea.rannet.duckdns.org
      - name: GITEA__server__SSH_DOMAIN
        value: gitea.rannet.duckdns.org

      - name: GITEA__database__DB_TYPE
        value: postgres
      - name: GITEA__database__HOST
        value: gitea-rw:5432
      - name: GITEA__database__NAME
        value: gitea
      - name: GITEA__database__USER
        valueFrom:
          secretKeyRef:
            name: gitea-superuser
            key: username
      - name: GITEA__database__PASSWD
        valueFrom:
          secretKeyRef:
            name: gitea-superuser
            key: password

  persistence:
    enabled: true
    size: 16Gi
    storageClass: smb

  gitea:
    oauth:
      - name: "RanNet OIDC"
        provider: "openidConnect"
        # match up with secret name in this chart
        existingSecret: authentik-oidc-secret
        autoDiscoverUrl: "https://authentik.rannet.duckdns.org/application/o/gitea/.well-known/openid-configuration"
        iconUrl: "https://authentik.rannet.duckdns.org/static/dist/assets/icons/icon.png"
        scopes: "email profile"
    cache:
      PROVIDER: redis
      HOST: gitea-valkey
    session:
      PROVIDER: redis
      PROVIDER_CONFIG: redis://gitea-valkey:6379/sessions?prefix={session}
    admin:
      existingSecret: gitea-superuser
      email: heilong24@gmail.com
    queue:
      TYPE: level

  # disable for gitea chart, use my own
  valkey-cluster:
    enabled: false
  valkey:
    enabled: false
  postgres:
    enabled: false
  postgresql-ha:
    enabled: false
