apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argo-cd
  labels:
    app.kubernetes.io/managed-by: Helm
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: {{ .Values.thisRepoURL }}
    path: k8s/helm/argocd
    targetRevision: HEAD
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ .Release.Namespace }}

  # TODO: leaving this off until I get a secret store up
  ignoreDifferences:
    - kind: Secret
      jsonPointers:
        - /stringData/password
        - /data/password
  syncPolicy:
    syncOptions:
      - RespectIgnoreDifferences=true
      - ServerSideApply=true
    automated:
      selfHeal: true
      prune: false
