{{- with .argocdSecret }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: argocd-secret-vso-ref
  namespace: {{ .Release.Namespace }}
spec:
  type: {{ .mountType | default "kv-v2" }}
  mount: {{ .mount }}
  path: {{ .path }}
  destination:
    name: argocd-secret
    create: true
    overwrite: true
  refreshAfter: 30s
  vaultAuthRef: {{ .Release.Namespace -}}/argocd-vso-connection-auth
{{- end }}
