{{- with .Values.argocdSecret }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: argocd-secret-vso-ref
  namespace: {{ $.Release.Namespace }}
spec:
  type: {{ .mountType | default "kv-v2" }}
  mount: {{ .mount }}
  # this path must at the minimum have the following keys in order for this
  # chart to w/ .Values.secret.createSecret = false to work:
  #   admin.password
  #   admin.passwordMtime
  #   server.secretkey
  # if these do not exist, set configs.secret.createSecret to true first while
  # you're configuring vault
  path: {{ .path }}
  destination:
    name: argocd-secret
    create: true
    overwrite: true
  refreshAfter: 30s
  vaultAuthRef: {{ $.Release.Namespace -}}/argocd-vso-connection-auth
{{- end }}
