---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: core-applications
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: Helm
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: {{ .Values.thisRepoURL }}
    path: k8s/helm/core-argocd-applications
    targetRevision: HEAD
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ .Release.Namespace }}
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
