argocdSecret:
  mount: in-cluster
  path: argocd/argocd-secret

vault-auth:
  vaultConnectionName: vault-secrets-operator/default
  authMethods:
    - name: on-prem
      # match this up with secret
      vaultAuthName: argocd-vso-connection-auth
      method: kubernetes
      mount: in-cluster
      config:
        role: argocd
        # just choosing arbitrary svc acc for now
        serviceAccount: argocd-server
        audiences:
          - vault


thisRepoURL: https://github.com/chr0n1x/rpi-talos.git
repos:
  - name: chr0n1x-rpi-talos.git
    url: https://github.com/chr0n1x/rpi-talos.git
    path: argocd/repo-creds/rpi-talos
    mount: in-cluster


# initial sync uses helmfile gotmpl, automated sync uses these; there may be drift
argo-cd:
  global:
    domain: argocd.rannet.duckdns.org

  configs:
    secret:
      createSecret: false

    params:
      server.insecure: true

    rbac:
      policy.csv: |
        g, authentik Admins, role:admin
        g, authentik Read-only, role:readonly
        g, authentik-homelab-group, role:readonly
        g, k8s_automation_user, role:readonly

    cm:
      # if using this for API keys remember to inspect the value in
      # argocd-secret after generating the token
      #
      # e.g. after generating a token, leave page open to copy the token
      # BUT - immediately run and monitor the following:
      #
      #  k get secret argocd-secret -o=yaml | yq r - 'data['accounts.k8s_automation_user.tokens']' | base64 -d
      #   [{"id":"dc3cd18b-3065-4d6a-ab95-12dc8941ea1a","iat":1762268265}]
      #
      # the value above would need to be stored into the
      # "accounts.k8s_automation_user.tokens" key in vault if using VSO to sync
      # argocd-secrets (which in this case - yes - since oidc secrets are set up here)
      #
      # only AFTER you save that JSON array into whatever vault dir your
      # argocd-secret is sourced from (see argocd-secret-vso-ref.yaml in
      # templates) will the token be persisted, THEN you can use the API key
      # displayed on the generate-token page
      accounts.k8s_automation_user: apiKey
      accounts.k8s_automation_user.enabled: "true"
      # ONLY DO THIS AFTER INITIAL SETUP
      accounts.admin.enabled: "false"

      kustomize.buildOptions: --enable-helm
      resource.customizations: |
        networking.k8s.io/Ingress:
          health.lua: |
            return {
              status = "Healthy",
              message = "HACK: skip health check for Ingress (override in argo-cd.config.cm chart val)",
            }
      url: https://argocd.rannet.duckdns.org
      dex.config: |
        connectors:
        - config:
            issuer: $dex.authentik.issuerURL
            clientID: $dex.authentik.clientID
            clientSecret: $dex.authentik.clientSecret
            insecureEnableGroups: true
            scopes:
              - openid
              - profile
              - email
          name: RanNet
          type: oidc
          id: authentik

  applicationSet:
    replicas: 2

  dex:
    pdb:
      enabled: true
      minAvailable: 1

  repoServer:
    replicas: 2

  server:
    replicas: 2
    ingress:
      enabled: true
      hostname: argocd.rannet.duckdns.org
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: duckdns-letsencrypt-prod
      pathType: Prefix
      # use this instead of tls, cannot adjust secretName w/ tls
      extraTls:
        - hosts:
          - argocd.rannet.duckdns.org
          secretName: argocd-cert

  controller:
    replicas: 2
