argocdSecret:
  mount: in-cluster
  path: argocd/argocd-secret

vault-auth:
  vaultConnectionName: vault-secrets-operator/default
  authMethods:
    - name: on-prem
      # match this up with secret
      vaultAuthName: argocd-vso-connection-auth
      method: kubernetes
      mount: in-cluster
      config:
        role: argocd
        # just choosing arbitrary svc acc for now
        serviceAccount: argocd-server
        audiences:
          - vault


thisRepoURL: https://github.com/chr0n1x/rpi-talos.git
repos:
  - name: chr0n1x-rpi-talos.git
    url: https://github.com/chr0n1x/rpi-talos.git
    path: argocd/repo-creds/rpi-talos
    mount: in-cluster


# initial sync uses helmfile gotmpl, automated sync uses these; there may be drift
argo-cd:
  global:
    domain: argocd.rannet.duckdns.org

  configs:
    secret:
      createSecret: false

    params:
      server.insecure: true

    rbac:
      policy.csv: |
        g, authentik Admins, role:admin
        g, authentik Read-only, role:readonly
        g, authentik-homelab-group, role:readonly


    cm:
      kustomize.buildOptions: --enable-helm
      resource.customizations: |
        networking.k8s.io/Ingress:
          health.lua: |
            return {
              status = "Healthy",
              message = "HACK: skip health check for Ingress (override in argo-cd.config.cm chart val)",
            }

  applicationSet:
    replicas: 2

  repoServer:
    replicas: 2

  server:
    replicas: 2
    ingress:
      enabled: true
      hostname: argocd.rannet.duckdns.org
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: duckdns-letsencrypt-prod
      pathType: Prefix
      # use this instead of tls, cannot adjust secretName w/ tls
      extraTls:
        - hosts:
          - argocd.rannet.duckdns.org
          secretName: argocd-cert

  controller:
    replicas: 2
