keda-global-cron:
  objects:
    - name: authentik-app-server
      minReplicaCount: 1
      triggers:
        - type: cron
          metadata:
            start: "0 9 * * *"
            end: "0 22 * * *"
            desiredReplicas: "2"
            timezone: EST
        # scale down to 1 from 10pm to 9am
        - type: cron
          metadata:
            start: "0 22 * * *"
            end: "0 9 * * *"
            desiredReplicas: "1"
            timezone: EST

    # TODO: not sure if want to follow the pattern above
    # see if scaling down actually works, this uses the most resources
    - name: authentik-app-worker

    # valkey required in all cases

cnpg:
  image: ghcr.io/tensorchord/cloudnative-vectorchord:17-0.4.3
  roleName: authentik
  labels: {}
  annotations: {}

# TODO: eh?
# valkey:

global:
  namespaceOverride: authentik
  # to prevent Role name clash w/ other CRDs?
  fullnameOverride: authentik-app

  env:
    - name: AUTHENTIK_POSTGRESQL__HOST 
      value: authentik-rw

    - name: AUTHENTIK_POSTGRESQL__SSLMODE
      value: prefer

    - name: AUTHENTIK_POSTGRESQL__NAME
      value: authentik

    - name: AUTHENTIK_POSTGRESQL__USER
      valueFrom:
        secretKeyRef:
          name: authentik-superuser
          key: username

    - name: AUTHENTIK_POSTGRESQL__PASSWORD
      valueFrom:
        secretKeyRef:
          name: authentik-superuser
          key: password

    - name: AUTHENTIK_SECRET_KEY
      valueFrom:
        secretKeyRef:
          name: authentik-superuser
          key: password

    - name: AUTHENTIK_REDIS__HOST
      value: authentik-valkey

    - name: AUTHENTIK_REDIS__PORT
      value: "6379"

authentik:
  error_reporting:
    enabled: true

  server:
    replicas: 2
    resources:
      requests:
        cpu: 250m
        memory: 3G
      limits:
        cpu: 750m
        memory: 6G

    # traefik ingress route
    ingress:
      enabled: false

  # death to bitnami
  # using cnpg and valkey here instead
  postgresql:
      enabled: false
  redis:
      enabled: false
