traefik-ingress:
  dnsNames:
    - dns: searxng.rannet.duckdns.org
      services:
        - kind: Service
          name: searxng
          port: http


searxng:
  namespace: searxng

  image:
    tag: 2026.2.16-8e824017d

  searxng:
    config:
      use_default_settings: true
      # server:
      #   secret_key: ""
      search:
        formats:
          - html
          - json

  TZ: "America/New York"

  ingress:
    main:
      enabled: false
