traefik-ingress:
  dnsNames:
    - dns: pinchflat.rannet.duckdns.org
      services:
        - kind: Service
          name: pinchflat-svc
          port: http

pinchflat:
  namespace: pinchflat

  service:
    type: NodePort

  deployment:
    image: ghcr.io/kieraneglin/pinchflat:latest
    env:
      TZ: America/New_York

  persistence:
    enabled: true
    size: 256Gi
    storageClass: smb
    # for the CSI driver SMB - this chart will create a PVC
    # which will then trigger the driver to create the PV itself
    # after your first install, fill in this field with the created PV name
    existingVolumeName: pvc-19bbd24e-5933-4a03-a2ce-1a3610f7dbe2

  db:
    persistence:
      enabled: true
      storageClass: longhorn
      existingVolumeName: pvc-42119381-2dda-4b70-8039-a3e8517a9595

  ingress:
    enabled: true
    class: nginx
    host: pinchflat.rannet.duckdns.org
    tls:
      - hosts:
          - pinchflat.rannet.duckdns.org
        secretName: pinchflat-cert
    annotations:
      cert-manager.io/cluster-issuer: duckdns-letsencrypt-prod
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
      nginx.ingress.kubernetes.io/ssl-passthrough: "true"
      nginx.ingress.kubernetes.io/auth-url: https://oauth2.rannet.duckdns.org/oauth2/auth
      nginx.ingress.kubernetes.io/auth-signin: https://oauth2.rannet.duckdns.org/oauth2/start
      nginx.ingress.kubernetes.io/auth-response-headers: X-Auth-Request-User,X-Auth-Request-Email,X-Forwarded-Groups
      nginx.ingress.kubernetes.io/auth-request-redirect: "https://$host:$server_port$request_uri$args"
