repo:
  url: {{ requiredEnv "ARGOCD_REPO_URL" }}
  name: {{ requiredEnv "ARGOCD_REPO_NAME" }}
  token: {{ requiredEnv "ARGOCD_GITHUB_TOKEN" }}
  username: {{ requiredEnv "ARGOCD_GITHUB_USER" }}

argo-cd:
  global:
    domain: argocd.{{ requiredEnv "HOMELAB_DOMAIN" }}

  configs:
    params:
      server.insecure: true

  server:
    ingress:
      enabled: false
