# lul ok
connector:
  image:
    tag: 1.75.0
  connector:
    nameOverride: {{ requiredEnv "TWINGATE_CONNECTOR_NAME" }}
    network: {{ requiredEnv "TWINGATE_CONNECTOR_NETWORK" }}
    accessToken: {{ requiredEnv "TWINGATE_ACCESS_TOKEN" }}
    refreshToken: {{ requiredEnv "TWINGATE_REFRESH_TOKEN" }}
    dnsServer: {{ requiredEnv "TWINGATE_DNS_SERVER" }}
