---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: smb-creds-vaultsecret-ref
  namespace: {{ .Release.Namespace }}
spec:
  type: kv-v2
  mount: in-cluster
  path: smb-csi/creds
  destination:
    name: smbcreds
    create: true
    overwrite: true
  refreshAfter: 30s
  vaultAuthRef: {{ .Release.Namespace -}}/smb-csi-vso-connection-auth
