[Unit]
Description=Defrag etcd Cluster
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/systemd/system/etcd-defrag.env
ExecStart=/bin/bash -c ${REPO_PATH}/etc/scripts/etcd-defrag.bash
TimeoutStartSec=600
