# systemctl enable etcd-defrag.*
[Unit]
Description=Timer for etcd-defrag

[Timer]
OnUnitActiveSec=7d
Unit=etcd-defrag.service

[Install]
WantedBy=timers.target
WantedBy=etcd-defrag.service
