[Unit]
Description=Weekly etcd defrag timer

[Timer]
OnBootSec=7d
OnUnitActiveSec=7d
Persistent=true
AccuracySec=1h

[Install]
WantedBy=timers.target
WantedBy=etcd-defrag.service
