@import url("https://cdn.jsdelivr.net/gh/lscambo13/ElegantFin@main/Theme/ElegantFin-jellyfin-theme-build-latest-minified.css");

:root{
  --extraCardButtonsVisibility: block;
  --btnMiniPlayColor: rgb(37,99,235);
  --btnMiniPlayBorderColor: white;
}
