[Unit]
Description=Start up nginx-proxy-manager
Requires=podman.service
After=remote-fs.target network.target network-online.target
Wants=network-online.target
RequiresMountsFor=/mnt/nginx-proxy-manager

[Service]
Type=simple

# assumes fstab
#   //nas.lan/nginx-proxy-manager /mnt/nginx-proxy-manager cifs mfsymlinks,nobrl,username=admin-svc,password=**** 0 0
ExecStartPre=-/usr/bin/mkdir -p /etc/nginx-proxy-manager
ExecStartPre=-/usr/bin/podman rm -f nginx-proxy-manager
ExecStart=/usr/bin/podman run --rm \
          --name nginx-proxy-manager \
          -v /mnt/nginx-proxy-manager/data:/data \
          -v /mnt/nginx-proxy-manager/letsencrypt:/etc/letsencrypt \
          --net=host \
          docker.io/jc21/nginx-proxy-manager:latest


ExecStop=/usr/bin/podman rm -f nginx-proxy-manager

[Install]
WantedBy=multi-user.target
